data:
    fullName: {{ promptStringOnce . "fullName" "Full Name" | quote }}
    email: {{ promptStringOnce . "email" "Email Address" | quote }}
    git:
        email: {{ promptStringOnce . "git.email" "[git] Email Address" | quote }}
    work:
        enabled: {{ promptBoolOnce . "work.enabled" "[work] Enabled" }}
        {{- if and (index . "work") .work.enabled }}
        mode: {{ promptStringOnce . "work.mode" "[work] Mode" | quote }}
        {{ end }}
