[tasks.base]
    templates = [
        [".spacemacs", "spacemacs/spacemacs"],
        [".gitconfig", "git/gitconfig"],
    ]
    links = [
        [".config/nvim/init.vim", "nvim/init.vim"],
        [".config/nvim/autoload/plug.vim", "nvim/autoload/plug.vim"],

        [".config/fish/config.fish", "fish/config.fish"],
        [".config/fish/functions/fish_prompt.fish", "fish/functions/fish_prompt.fish"],
        [".config/fish/functions/fish_right_prompt.fish", "fish/functions/fish_right_prompt.fish"],
        [".config/fish/functions/fish_greeting.fish", "fish/functions/fish_greeting.fish"],
        [".config/fish/functions/fish_user_key_bindings.fish", "fish/functions/fish_user_key_bindings.fish"],

        [".config/fish/conf.d/go.fish", "go/go.fish"],
        [".config/fish/conf.d/rust.fish", "rust/rust.fish"],
    ]

[tasks.desktop]
    deps = ["base"]
    templates = [
        [".config/i3/config", "i3/config"],
        [".i3blocks.conf", "i3/i3blocks.conf"],

        [".config/dunst/dunstrc", "dunst/dunstrc"],

        [".config/alacritty/alacritty.yml", "alacritty/alacritty.yml"],
    ]

[tasks.macos]
    deps = ["base"]
    links = [
        ["Library/KeyBindings/DefaultKeyBinding.dict", "macos/DefaultKeyBinding.dict"],
    ]

[tasks.atlassianmac]
    deps = ["macos"]

[tasks.kxdatlas]
    deps = ["desktop"]

[tasks.ace]
    deps = ["desktop"]

[tasks.akame]
    deps = ["desktop"]

[tasks.fate]
    deps = ["desktop"]
