[macros.install__ubuntu]
    prefix = ["sudo", "apt-get", "install", "-y"]

[tasks.common]
    cmds = [
	["@install", "zsh", "emacs", "npm"],
        ["chsh", "-s", "/bin/zsh"],
        ["git", "clone", "https://github.com/syl20bnr/spacemacs", "${HM_DEST}/.emacs.d"],
        ["sudo", "npm", "install", "-g", "tern"]
    ]

[tasks.default]
    deps = ["common"]
    links = [
        [".gitconfig", "git/gitconfig"],

        [".spacemacs", "spacemacs/spacemacs"],

        [".zshrc", "zshell/zshrc"],
        [".zsh.d/functions", "zshell/functions"],
        [".zsh.d/alias.zsh", "zshell/alias.zsh"],
        [".zsh.d/bindings.zsh", "zshell/bindings.zsh"],
        [".zsh.d/config.zsh", "zshell/config.zsh"],
        [".zsh.d/path.zsh", "zshell/path.zsh"],
        [".zsh.d/prompt.zsh", "zshell/prompt.zsh"],
        [".zsh.d/window.zsh", "zshell/window.zsh"],

        [".zsh.d/go.zsh", "go/go.zsh"],

        [".zsh.d/rust.zsh", "rust/rust.zsh"],

        [".zsh.d/fzf.zsh", "fzf/fzf.zsh"],
        [".zsh.d/fzf_bindings.zsh", "fzf/fzf_bindings.zsh"],
    ]
