[core]
    editor = nvim
    excludesfile = {{ .chezmoi.homeDir }}/.config/git/gitignore

[user]
    name =  Kristin Davidson
{{- if eq .chezmoi.hostname "kxdbook" }}
    email = kdavidson@atlassian.com
{{- else }}
    email = k@kxd.dev
{{- end }}

[pull]
    rebase = false

[merge]
    tool = p4merge

[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
