[[ -f "${HOME}/.fig/shell/zshrc.pre.zsh" ]] && builtin source "${HOME}/.fig/shell/zshrc.pre.zsh"

source "${HOME}/.zgenom/zgenom.zsh"
zgenom autoupdate

if ! zgenom saved; then
	zgenom load olets/zsh-abbr

	zgenom save
fi

for config_file ($ZSHD/**/*.zsh) source $config_file

# zsh history
HISTFILE=~/.zsh_history
HISTSIZE=1000
SAVEHIST=1000

# Use emacs keybindings
bindkey -e
# Set up other keybinds
bindkey "^[[H" beginning-of-line
bindkey "^[[F" end-of-line
bindkey " " magic-space

# Set up autocompletions
zstyle :compinstall filename '{{ .chezmoi.homeDir }}/.zshrc'
autoload -Uz compinit
rm -f ~/.zcompdump* 2>&1 > /dev/null || true; compinit

# Set up fzf completions
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh

hash mise && eval "$(mise activate zsh)"
hash zoxide && eval "$(zoxide init zsh)"
hash starship && eval "$(starship init zsh)"

[[ -f "${HOME}/.fig/shell/zshrc.post.zsh" ]] && builtin source "${HOME}/.fig/shell/zshrc.post.zsh"
