[core]
	editor = nvim
	excludesfile = {{ .chezmoi.homeDir }}/.config/git/gitignore

[user]
	name = {{ .fullName | quote }}
	email = {{ .vcs.email | quote }}

#[commit]
#	gpgsign = true

[pull]
	rebase = false

[push]
	default = current
	autoSetupRemote = true

[merge]
	tool = bc

[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/

[url "ssh://git@bitbucket.org/"]
	insteadOf = https://bitbucket.org/

[url "ssh://git@gitlab.com/"]
	insteadOf = https://gitlab.com/
