export PATH=$PATH:/usr/local/go/bin:$HOME/go/bin

{{- if .work.enabled }}
export GOPROXY={{ (index .work .work.mode).go.proxy | quote }}
export GONOSUMDB={{ (index .work .work.mode).go.nosumdb | quote }}
{{ end }}