export PATH=$PATH:/usr/local/go/bin:$HOME/go/bin

{{- if .work.enabled }}
{{ $workdata := (index .work .work.mode) }}
export GOPROXY={{ $workdata.go.proxy | quote }}
export GONOSUMDB={{ $workdata.go.nosumdb | quote }}
{{ end }}