{{ if .work.enabled }}
{{ includeTemplate (printf "remove_privatedata/dot_config/fnox/config.%s.toml.tmpl" .work.mode ) . }}
{{ else }}
{{ includeTemplate "remove_privatedata/dot_config/fnox/config.toml.tmpl" . }}
{{ end }}
